<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <title>Theatre4u</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./assets/favicon.png">
  <style>@import"https://fonts.googleapis.com/css2?family=Roboto&display=swap";@import"https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap";*,*:after,*:before{margin:0;padding:0;box-sizing:border-box;outline:none}html{--aclr:#fff;--abg:#181818;--bbg:#202020;--cbg:#121212;--dbg:hsl(0, 0%, 18.82%);--ebg:hsla(0, 0%, 100%, .08);--fbg:#1c62b9;--gbg:rgba(33, 33, 33, .98);--hbg:rgba(255, 255, 255, .1);--ibg:rgba(0, 0, 0, .8)}app-root{min-height:100vh;background:var(--abg);color:var(--aclr);font-size:14px;font-family:"Roboto",sans-serif;display:flex;flex-direction:column}</style><link rel="stylesheet" href="styles.79ad47c6e9616031.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.79ad47c6e9616031.css"></noscript></head>
  <body>
    <app-root></app-root>
  <script src="runtime.de03fc90a04c9b89.js" type="module"></script><script src="polyfills.bc20d95ba7939acb.js" type="module"></script><script src="main.48a6c61dcd780846.js" type="module"></script>
  
  </body></html>